---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout title="Calculus Tutorial">
  <p>
    Welcome to the calculus tutorial! This is a simple page to help you learn
    the basics of calculus using JavaScript.
  </p>
  <h1>Calculus Tutorial</h1>
  <p>
    Hopefully with this you will be able to understand a bit better the basics
    of calculus. At least that's my ambition!
  </p>
</MainLayout>
