---
const currentDate = new Date();
const year = currentDate.getFullYear();
---

<footer
  class="bg-gray-800 text-white py-4 fixed h-12 bottom-0 w-full flex flex-col items-center justify-center"
>
  <p>&copy; Alix Fachin {year}</p>
</footer>
